<div class="stats-container">
    <section class="chart-card">
      <h3>{{ getTranslation(lang.STATS.STEPS) }}</h3>
      <canvas baseChart
        [data]="stepsChartData"
        [options]="chartOptions"
        type="bar">
      </canvas>
    </section>
  
    <section class="chart-card">
      <h3>{{ getTranslation(lang.STATS.WATER) }}</h3>
      <canvas baseChart
        [data]="waterChartData"
        [options]="chartOptions"
        type="line">
      </canvas>
    </section>
  
    <section class="chart-card">
      <h3>{{ getTranslation(lang.STATS.WEIGHT) }}</h3>
      <canvas baseChart
        [data]="weightChartData"
        [options]="chartOptions"
        type="line">
      </canvas>
    </section>
  </div>