<!-- bottom-nav.component.html -->
<nav class="bottom-nav">
  <div class="nav-item" routerLink="/home" routerLinkActive="active">
    <div class="icon-container">
      <i class="material-icons">home</i>
    </div>
    <span>Home</span>
  </div>
  <div class="nav-item" routerLink="/profile" routerLinkActive="active">
    <div class="icon-container">
      <i class="material-icons">person</i>
    </div>
    <span>Profile</span>
  </div>
  <div class="nav-item" routerLink="/missions" routerLinkActive="active">
    <div class="icon-container">
      <i class="material-icons">flag</i>
    </div>
    <span>Missions</span>
  </div>
  <div class="nav-item" routerLink="/stats" routerLinkActive="active">
    <div class="icon-container">
      <i class="material-icons">bar_chart</i>
    </div>
    <span>Stats</span>
  </div>
</nav>