<div class="login-container">
  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="brand">
      <h1>Vitality <span>Go</span></h1>
      <span class="material-icons logo">directions_run</span>
    </div>

    <h2>Iniciar Sesión</h2>

    <div class="form-group">
      <div class="input-icon">
        <span class="material-icons">email</span>
        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="Email"
          required>
      </div>
    </div>

    <div class="form-group">
      <div class="input-icon">
        <span class="material-icons">lock</span>
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          placeholder="Contraseña"
          required>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <span class="material-icons">error_outline</span>
      {{ errorMessage }}
    </div>

    <button type="submit">
      <span class="material-icons">login</span>
      Iniciar Sesión
    </button>
    <div class="additional-options">
      <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
      <a routerLink="/register">Crear Cuenta</a>
    </div>
  </form>
</div>