<div class="login-container">
    <form class="login-form" (ngSubmit)="onSubmit()">
      <div class="brand">
        <h1><span>Recuperar</span> Contraseña</h1>
      </div>
  
      <h2>Ingresa tu correo</h2>
  
      <div class="form-group">
        <input
          id="email"
          name="email"
          [(ngModel)]="email"
          type="email"
          required
          placeholder="Correo electrónico" />
        <span class="material-icons input-icon">mail</span>
      </div>
  
      <div *ngIf="message" class="success-message">
        <span class="material-icons">check_circle</span> {{ message }}
      </div>
      <div *ngIf="errorMessage" class="error-message">
        <span class="material-icons">error</span> {{ errorMessage }}
      </div>
  
      <button type="submit">Enviar correo de recuperación</button>
  
      <div class="additional-options">
        <a routerLink="/login">Volver al inicio de sesión</a>
      </div>
    </form>
  </div>
  